<section>
  <h1>React Suspense</h1>

  <small>
    Yevhen Shemet<br />
    github: <a target="_blank" href="https://github.com/yevhene/present-react-suspense">yevhene/present-react-suspense</a>
  </small>
</section>

<section>
  <h2>Questions?</h2>
</section>
